fastapi
uvicorn[standard]
asyncpg
SQLAlchemy
databases[postgresql]
passlib[bcrypt]
argon2-cffi
python-jose[cryptography]
python-dotenv
itsdangerous
python-multipart
aiofiles
python-magic
filetype
email-validator
secure
slowapi
boto3
celery
